.sap-fiori-user-experience-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sap-fiori-user-experience-content {
    flex: 1 1 50%;
    padding-right: 20px;
  }
  
  .sap-fiori-user-experience-content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .sap-fiori-user-experience-content p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 10px;
  }
  
  .sap-fiori-user-experience-image {
    flex: 1 1 50%;
    padding-left: 20px;
  }
  
  .sap-fiori-user-experience-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .sap-fiori-user-experience-section {
      flex-direction: column;
    }
  
    .sap-fiori-user-experience-content {
      padding-right: 0;
      text-align: center;
    }
  
    .sap-fiori-user-experience-image {
      padding-left: 0;
      margin-top: 20px;
    }
  }
  