/* HeroSection.css */
.hero-wrapper {
  width: 100%;
  margin-bottom: 80px;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  overflow: hidden;
  padding: 50px 10%;
  background-color: #fff; /* Default background color */
}

/* Top-left blue box */
.top-left-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.33%; /* Responsive width */
  height: 114px; /* Fixed height for larger screens */
  background-color: #3a8bc8;
  z-index: 1;
}

/* Bottom-right blue box */
.bottom-right-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 27.25%; /* Responsive width */
  height: 372px; /* Fixed height for larger screens */
  background-color: #3a8bc8;
  z-index: 1;
  border-radius: 20px 0 0 0; /* Rounded corner */
}

.carousel-slide {
  display: none;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide.active {
  display: flex;
}

.carousel-slide.transition {
  transform: translateX(-100%);
}

.carousel-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}

.carousel-text-column {
  flex: 1;
  padding-right: 20px;
  text-align: left;
}

.carousel-text-column .carousel-subtitle,
.carousel-text-column .carousel-subtitle2 {
  width: 100%;
  font-size: 20px;
  font-family: 'Rubik';
  font-weight: 700;
  line-height: 120%;
  background-color: transparent;
  margin-bottom: 20px;
}

.carousel-text-column .carousel-subtitle {
  color: #3b61f4;
}

.carousel-text-column .carousel-subtitle2 {
  color: #000;
}

.carousel-text-column .carousel-title,
.carousel-text-column .carousel-title2 {
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
}

.carousel-text-column .carousel-title {
  font-size: 52px;
  color: #000;
  font-family: 'Ubuntu';
  font-weight: 500;
  line-height: 100%;
}

.carousel-text-column .carousel-title2 {
  font-size: 70px;
  color: #000;
  font-family: 'Ubuntu';
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2;
}

.carousel-text-column .carousel-title2 span {
  color: #3a8bc8; /* Blue color for AI */
}

.carousel-paragraph {
  opacity: 0.7;
  font-size: 16px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 155%;
  background-color: transparent;
  margin-bottom: 50px;
}

.carousel-items-grid {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  gap: 20px;
}

.carousel-item {
  text-align: center;
  flex: 1;
  max-width: 100px;
}

.carousel-item p {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: #01aed1;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1px;
  background-color: transparent;
  margin-top: 5px;
}

.carousel-item img {
  width: 80px;
  height: 80px;
  border: 3px solid #01aed1;
  border-radius: 15px;
  padding: 5px;
}

.carousel-footer {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}

.carousel-button {
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: 700;
  background-color: #3a8bc8;
  border-radius: 6px;
  height: 50px;
  width: 146px;
  cursor: pointer;
  border: none;
}

.carousel-arrows {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrow-left,
.arrow-right {
  font-size: 1.5rem;
  cursor: pointer;
}

.arrow-left::before,
.arrow-right::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
}

.arrow-left::before {
  transform: rotate(135deg);
}

.arrow-right::before {
  transform: rotate(-45deg);
}

.carousel-image-column {
  flex: 1;
  text-align: center;
}

.carousel-image-column img {
  width: 90%;
  height: auto;
}

@media (max-width: 767px) {
  .carousel-container {
    padding: 40px 0px; /* Increase padding */
    padding-bottom: 0;
    background-color: #3a8bc8; /* Change background color */
    max-width: 404px; /* Limit max-width */
    margin: 0 auto; /* Center the container */
  }

  .carousel-text-column .carousel-subtitle,
  .carousel-text-column .carousel-subtitle2,
  .carousel-text-column .carousel-title,
  .carousel-text-column .carousel-title2,
  .carousel-paragraph,
  .carousel-item p,
  .carousel-button {
    color: #fff; /* Change text color to white */
  }

  .carousel-button {
    background-color: #fff; /* Change button background to white */
    color: #3a8bc8; /* Change button text color to blue */
  }

  .top-left-box,
  .bottom-right-box {
    display: none; /* Hide the boxes on smaller screens */
  }

  .carousel-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .carousel-text-column {
    width: 100%;
    padding: 0 80px;
    margin-bottom: 20px;
  }

  .carousel-image-column {
    width: 100%;
    padding: 0;
  }

  .carousel-text-column .carousel-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
  }

  .carousel-text-column .carousel-subtitle {
    font-size: 16px;
    color: #fff;
    font-family: 'Rubik';
    font-weight: 700;
    line-height: 120%;
  }

  .carousel-item p {
    font-size: 14px;
    text-align: left;
    color: #fff;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1px;
  }

  .carousel-text-column .carousel-title2 {
    font-size: 40px;
  }

  .carousel-text-column .carousel-subtitle2 {
    font-size: 16px;
    color: #fc9b00;
  }

  .carousel-paragraph {
    font-size: 14px;
  }

  .carousel-items-grid {
    flex-direction: row;
    justify-content: space-between; /* Align items in the same row */
    gap: 10px; /* Reduce gap between items */
  }

  .carousel-item img {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 3px solid #fff; /* Change border color to white */
  }
}
