.enterprise-managed-archieve-hero-section-erp {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../../../images/enterprise-managed-archive-hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
  }
  
  .enterprise-managed-archieve-hero-text-erp {
    z-index: 2;
    max-width: 80%;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .enterprise-managed-archieve-hero-text-erp h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .enterprise-managed-archieve-hero-text-erp p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .enterprise-managed-archieve-contact-btn-erp {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #0066b2;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .enterprise-managed-archieve-contact-btn-erp:hover {
    background-color: #005099;
  }
  
  .enterprise-managed-archieve-hero-image-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  