.technology-partners-section {
    text-align: left;
    padding: 50px 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .partners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .partner {
    flex: 1;
    text-align: center;
    padding: 20px;
  }
  
  .partner img {
    width: 300px;
    height: auto;
  }
  
  .partner p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: left;
    line-height: 1.8;
  }
  
  @media (max-width: 768px) {
    .partners-container {
      flex-direction: column;
    }
  }


  @keyframes floating2 {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
    
    .fadeInUpTechnology-bottom {
      animation: floating2 2s ease;
    }