.comprehensive-protection-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.comprehensive-protection-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.comprehensive-protection-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 40px;
}

.comprehensive-protection-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr); /* Default to single column */
}

.protection-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 1; /* Maintain square aspect ratio by default */
}

.protection-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.protection-card .tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.protection-card h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  z-index: 2;
  margin: 0;
  transition: bottom 0.5s ease;
}

.protection-card p {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  bottom: -100%;
  left: 20px;
  right: 20px;
  color: white;
  z-index: 1;
  margin: 0;
  transition: bottom 0.5s ease;
}

.protection-card:hover .tint {
  background-color: rgba(0, 0, 0, 0.3);
}

.protection-card:hover h3 {
  bottom: calc(70%);
}

.protection-card:hover p {
  bottom: 20px;
}

@media (min-width: 768px) {
  .comprehensive-protection-cards-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns for larger screens */
  }
}

@media (max-width: 767px) {
  .protection-card {
    aspect-ratio: auto;
    height: 400px; /* Fixed height for mobile view */
  }

  .protection-card:hover h3 {
    bottom: calc(40%);
  }
}
