.business-services-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.business-services-section {
    text-align: left;
    padding: 50px 20px;
    max-width: 1200px;
  }
  
  .business-services-section-p {
    font-size: 16px;
    color: #000;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
  }

  .business-services-cards-container-approach {
    text-align: left;
    margin-top: 80px;
  }
  
  .business-services-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px; /* Gap between columns */
  }

  .business-services-cards-container-approach-p {
    font-size: 16px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
  }
  
  .business-services-card-wrapper {
    flex: 1 1 32%;
    max-width: 32%;
    box-sizing: border-box;
  }
  