.org-viewer-hero-section-erp {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('../../../images/org-viewer-hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
  }
  
  .org-viewer-hero-text-erp {
    z-index: 2;
    max-width: 80%;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .org-viewer-hero-text-erp h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  
  .org-viewer-hero-text-erp p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .org-viewer-hero-image-tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  