.improved-satisfaction-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.improved-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.improved-text-content {
  width: 50%;
  text-align: left;
  padding-right: 20px;
}

.improved-text-content p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.improved-images-content {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.improved-image-bottom {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(.165,.84,.44,1);
  width: 350px;
  z-index: 1;
}

.improved-image-bottom:hover {
  transform: scale(1.05);
}

/* .improved-image-top {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(.165,.84,.44,1);
  position: absolute;
  top: 110px;
  left: 30px;
  width: 300px;
  z-index: 2;
}

.improved-image-top:hover {
  transform: scale(1.05);
} */

/* Mobile view */
@media (max-width: 767px) {
  .improved-content-container {
    flex-direction: column;
  }

  .improved-text-content {
    width: 100%;
    padding-right: 0;
  }

  .images-content,
  .image-bottom,
  .image-top {
    width: 0%;
    display: none;
  }
}
