.improved-satisfaction-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.improved-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.improved-text-content {
  width: 50%;
  text-align: left;
  padding-right: 20px;
}

.improved-text-content p {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.images-content {
  width: 50%;
  position: relative;
}

.improved-image-bottom {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  position: absolute;
  transition: all 0.4s cubic-bezier(.165,.84,.44,1);
  width: 70%; /* Adjusted for better alignment */
  z-index: 1;
  left: 150px;
  max-width: 100%; /* Ensure responsiveness */
}

.improved-image-bottom:hover {
  transform: scale(1.05);
}

.improved-image-top {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  transition: all 0.4s cubic-bezier(.165,.84,.44,1);
  position: absolute;
  top: 40px; /* Adjusted for better alignment */
  left: 20px; /* Adjusted for better alignment */
  width: 60%; /* Adjusted for better alignment */
  z-index: 2;
  max-width: 100%; /* Ensure responsiveness */
}

.improved-image-top:hover {
  transform: scale(1.05);
}

/* Mobile view */
@media (max-width: 767px) {
  .improved-content-container {
    flex-direction: column;
  }

  .improved-text-content {
    width: 100%;
    padding-right: 0;
  }

  .images-content,
  .improved-image-bottom,
  .improved-image-top {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
  }

  .improved-image-bottom {
    width: 60%; /* Adjust width for mobile view */
    margin: 0 auto; /* Center the image */
  }

  .improved-image-top {
    top: 60px;
    left: 30px;
    width: 60%; /* Adjust width for mobile view */
    margin: 0 auto; /* Center the image */
  }

  .images-content {
    display: none;
  }
}
