.expertise-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expertise {
  text-align: left;
  margin: 50px auto;
  max-width: 1200px;
}

.expertise h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.expertise p {
  text-align: left;
  background-color: #fff;
  color: #333333;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.expertise-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.expertise-card {
  background-color: #fff;
  border-radius: 10px;
  border-color: #484545;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px); /* 3 cards per row with gap */
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.expertise-card img {
  width: 80px; /* Increased size */
  height: 80px; /* Increased size */
  margin-bottom: 20px;
}

.expertise-card h3 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 1.4;
}

.expertise-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6F6F6F;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 1200px) {
  .expertise-card {
    flex: 1 1 calc(50% - 40px); /* 2 cards per row for smaller screens */
    max-width: calc(50% - 40px);
  }
}
