.tech-expertise-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.tech-expertise {
  text-align: left;
  margin: 50px auto;
  max-width: 1200px;
}

.tech-expertise h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.tech-expertise p {
  text-align: left;
  background-color: #fff;
  color: #333333;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.tech-expertise-cards {
  display: grid;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.tech-expertise-card {
  background-color: #fff;
  border-radius: 10px;
  border-color: #484545;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tech-expertise-card img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.tech-expertise-card h3 {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 1.4;
}

.tech-expertise-card p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6F6F6F;
  line-height: 1.8;
  text-align: center;
}

@media (min-width: 768px) {
  .tech-expertise-cards {
    grid-template-columns: repeat(3, 1fr); /* Three cards in a row */
    grid-auto-rows: auto;
  }
}

@media (max-width: 767px) {
  .tech-expertise-cards {
    grid-template-columns: 1fr; /* Full-width cards in mobile view */
    grid-auto-rows: auto;
  }
}
