.types-of-connections-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.types-of-connections-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.types-of-connection-card ol {
  padding-left: 20px; /* Adjust padding to align with the rest of the content */
  margin: 0; /* Remove default margin */
}

.types-of-connection-card ol li {
  margin-bottom: 10px; /* Add space between list items */
}
