.partners-wrapper {
  background-color: #f9f9f9;
  width: 100%;
  padding: 50px 20px; /* Adjust padding as needed */
}

.partners {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Space between title and logos */
  align-items: center; /* Align items vertically center */
}

.partners-logos {
  display: grid;
  gap: 20px; /* Adjust gap between images as needed */
  grid-template-columns: repeat(4, 1fr); /* Four columns by default */
  justify-items: center; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
}

.partner-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .partners {
    flex-direction: column;
    text-align: left; /* Align SectionTitle to the left */
    align-items: flex-start; /* Align items to the start (left) */
  }

  .partners-logos {
    grid-template-columns: 1fr; /* Single column for smaller screens */
    width: 100%; /* Ensure logos take full width */
    margin-top: 20px; /* Add some space between title and logos */
  }
}
