.contact-form {
    text-align: center;
    margin: 50px 0;
  }
  
  .contact-form h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-form p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #25262D;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .form-group label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-right-column {
    width: 50%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    .work-with-us {
      flex-direction: column;
      align-items: center;
    }
  
    .left-column,
    .contact-right-column {
      width: 100%;
      padding: 0;
    }
  
    .left-column {
      margin-bottom: 20px;
    }

    .left-column h2 {
      font-size: 28px;
    }
  }