.winning-with-us-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
}

.winning-with-us-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
}

.winning-with-us-logo-container {
  overflow: hidden;
  margin-bottom: 20px;
}

.winning-with-us-logo-row {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: calc(200%); /* Ensure the track is wide enough to scroll */
}

.winning-with-us-logo-row img {
  max-height: 100px;
  margin: 0 20px;
  display: inline-block;
}

.client-logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.winning-with-us-logo-row.first-row {
  animation: marqueeLeft 25s linear infinite;
}

.winning-with-us-logo-row.second-row {
  animation: marqueeLeft 25s linear infinite reverse;
}
