.sap-services-section {
  text-align: center;
  padding: 50px 10px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.sap-services-section p {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

.sap-services-cards-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr); /* Default to single column */
}

.sap-services-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 12px -4px rgba(0, 0, 0, 0.16);
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.sap-services-card:hover {
  background-color: #f7f7f7;
}

.sap-services-image {
  width: 85px;
  height: 85px;
  margin-right: 20px;
}

.sap-services-card h3 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.sap-services-card p {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #666;
  line-height: 1.5;
  margin: 0;
}

@media (min-width: 768px) {
  .sap-services-cards-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

@media (max-width: 767px) {
  .sap-services-card {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
  }

  .sap-services-image {
    margin-right: 0;
    margin-bottom: 10px; /* Add space between image and text */
    align-self: center; /* Center align image */
  }

  .sap-services-card h3,
  .sap-services-card p {
    text-align: center;
    width: 100%;
  }
}
