/* AboutUsStatsSection.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both; /* Ensures the element stays in the end state of the animation */
}

/* Ring animation for the numbers */
@keyframes ringAnimation {
  0% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 #FF008521;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px #FF008521;
  }
  100% {
    transform: scale(.95);
    box-shadow: 0 0 0 0 #FF008521;
  }
}

.about-us-stats-wrapper {
  width: 100%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 30px 20px 0px 20px;
}

.about-us-stats-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.about-us-stats-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.about-us-stats-line {
  flex-grow: 1;
  height: 2px;
  background-color: #3A8BC8;
  margin: 0 10px;
}

.about-us-stats-star {
  color: #3A8BC8;
  font-size: 24px;
}

.about-us-stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.about-us-stats-card {
  padding: 20px;
  text-align: center;
}

.about-us-stats-icon {
  font-size: 60px;
  color: #3A8BC8;
  margin-bottom: 10px;
  font-weight: 900;
}

.about-us-stats-card h3 {
  font-size: 52px;
  color: #3A8BC8;
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.about-us-stats-card h3 span {
  font-size: 52px;
  color: #3A8BC8;
  font-weight: 400;
  margin-left: 5px;
}

.about-us-stats-divider-inner {
  width: 50px;
  height: 2px;
  background-color: #ddd;
  margin: 10px auto;
}

.about-us-stats-card p {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  font-weight: 500;
}

/* Media Queries */
@media (max-width: 767px) {
  .about-us-stats-grid {
    grid-template-columns: 1fr;
  }

  .about-us-stats-card {
    margin-bottom: 20px;
  }
}
