@import url('../../fonts/fonts.css');

.custom-button-connect {
    background-color: #25262D;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 160px;
    border: none;
    padding: 12px 0px 12px 0px;
    border-radius: 30px; /* Makes the button pill-shaped */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }